<h3>Пассажирам:</h3>
<div class="background-for-text">
	<p>Стоимость проезда не должна быть высокой а сервис качественным - вот составляющие нашего успеха. Мы ежедневно улучшаем качество наших услуг, сокращаем время подачи автомобиля.</p>
	<p>Среднее время поиска автомобиля 3-5 минут. Сделать заявку очень просто, мобильное приложение доступно и очень удобно.</p>
	<p>Служба заказа такси Володя, не является таксомоторной компанией,заявки передаются исполнителям.&nbsp;</p>
	<p>&nbsp;</p>
</div>