<div class="formForService">
  
  <%= render 'form' %>


<script type="text/javascript">
  var start;
    service_quality_phone_number.onblur = function() {
      start = this.value; 
      alert(start);
  }; 
  	alert(start);
  	
  var end; 
    service_quality_your_email_adress.onblur = function() {
      end = this.value;
      alert(end);
  };

  

</script>
</div>