<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to("Заказ такси", "url") %></li>
      <li><%= link_to("Клиентам", "url") %></li>
      <li><%= link_to("Водителям", "url") %></li>
      <li><%= link_to("Служба качества", "url") %></li>
    </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>    
