<h1>Orders</h1>

<table class="table">
  <tr>
    <th>Имя</th>
    <th>Номер</th>
    <th>Откуда</th>
    <th>Дом</th>
    <th>Куда</th>
    <th>Когда</th>
  </tr>
  <div class="posts">
    <%= render @orders %>
  </div>
</table> 