<br>

<table class="table">
  <tr>
    <th>Имя</th>
    <th class="number">Номер</th>
    <th>Откуда</th>
    <th>Дом</th>
    <th>Куда</th>
    <th>Когда</th>
    <th>Статус</th>
    <th>Изменить статус</th>
  </tr>
  <div class="posts">
    <%= render @orders %>
    <div class="pagination">
      <%= will_paginate @orders %>
    </div>
  </div>
</table> 