<<<<<<< HEAD


<%= render 'form' %>


=======
<div class="form">
<div class="tel_top"><span>+373</span> <span>(69)</span> 666-666</div>

	<h4 id="call-taxi">Вызов такси онлайн:</h4>
	<%= render 'form' %>
  

  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
   <script type="text/javascript">
   order_phone_number.onclick = function(){
       ymaps.ready(init);
       var myMap, route, start, end;
    

       function init(){     
           myMap = new ymaps.Map ("map", {
            center: [47.0105, 28.8638],
            zoom: 12,
        });

       start = document.getElementById('order_adress_from').value
  		 end = document.getElementById('order_adress_to').value
      //order_adress_from.onblur = function() {
      	//start = this.value; 
    	//}; 

 		 	//order_adress_to.onblur = function() {
      	//end = this.value; 
    	//}; 
      ymaps.route([start, end,
      ]).then(
          function (route) {
            route && myMap.geoObjects.remove(route);
            myMap.geoObjects.add(route);

          },
          function (error) {
              alert("Возникла ошибка: " + error.message);
          });
    }
  };
 </script>

	<div id="map" style="width: 550px; height: 400px"></div>
</div>
>>>>>>> 315cec726693f23b7705e4844cef3aa4f84f4a64
