<div class="form">
<<<<<<< HEAD

=======
<div class="tel_top"><span>+373</span> <span>(69)</span> 666-666</div>
>>>>>>> db10a87ec2d4275023a4df9aec55a192185eb730
	<h4 id="call-taxi">Вызов такси онлайн:</h4>

	<%= render 'form' %>
  
</div>