<!DOCTYPE html>
<html>
<head>
  <title>TaxiService</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
  <script src="YourJquery source path"></script>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
</head>
<body>

<%= yield %>

</body>
</html>
